*{
margin: 0;
padding: 0;
}
/* Headder section start  */
.header {
background-color: #1A0B2E;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 120px;
border-bottom: 1px  solid #412567;
}


.header h2 {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    transition: 0.2s;
}
.wave{
    background: linear-gradient(to right, #f04343, #c55286, #7826c5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
nav #sub a{
text-decoration: none;
    color: #ececec;

}


nav #sub{
    background: linear-gradient(to right,#f0c843, #c55286, #7826c5); 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 50px;
    transition: 0.2s;
}

nav li{
list-style: none;
display: inline;
margin: 20px;
font-size: 15px;
}
nav ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
    
/* headder end  */

/* main start */

.main{
    min-height: 100vh;
    display: flex;
    background: url(../assets/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: white;
    
    
}
.mic img{
    height: 25vh;
    margin-top: 1vh;
    align-items: center;
    /* display: flex; */
    /* text-align: center; */
}
.mic{
     background: linear-gradient(to  right, #f0d749, #c55286,#e958d1 ,#7826c5);
     height: 40vh;
     width: 50vh;
     text-align: center;
     /* display: flex; */
     /* align-items: center; */
     padding-top: 9vh;
     margin-bottom: 3vh;
     border-radius: 100vh;
     border: 5px solid t rgb(120, 38, 252);
}

.main h1{
    
    font-size: 10vh;
    margin: 0;
     /* margin-bottom: 40vh; */
}
.main p{
    font-size: 2.7vh;
    color: #d8e0e9;
    margin-top: 2vh;
    max-width: 550vh;
}

.button-main a{
    text-decoration: none;
    color: white;
}
.button-main{
    margin: 20px;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.button-main #Sportify-main{
     background: linear-gradient(to right,#f0c843, #c55286, #7826c5);
       padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 100vh;

}
.button-main #Sportify-main img{
margin-top: 0px;
height: 12px;
margin-right: 5px;
}
.button-main #sub-main{
     background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 100vh;
    border: 1px solid #00ff88 ;

}


.button-main #sub-main img{

    height: 10px;
    margin-right: 5px;
}
/* main section end  */

.about{
    background-color: #1A0B2E;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
border-bottom: 1px  solid #412567;
padding-bottom: 0 20px 0 20px;
}
.about #about-top{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vh;
    font-weight: 800;
}
.about #about-mid{
    font-family: arial;
    font-size: 2.4vh;
    font-weight: 200;
}
.about #about-down{
    font-family: arial;
    font-size: 2.4vh;
    font-weight: 200;
}
/* about end  */


.rating{
    background-color: #1A0B2E;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: white;
    /* margin: 20px; */
    /* height: 40vh; */
    padding: 20vh;
    /* max-height: 30vh; */
    font-size: 4vh;
}

.rating h1{
    color: #00FF88;

}
/* rating end  */

.container .box{
    background-color: #351165;
    padding: 4vh;
    border-radius: 25px;
    text-align: left;
    color:#ffff ;
}


.container {
    background-color: #230E3D;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 40vh);
    /* padding: 9vh; */
    padding-left: 25vh;
    padding-right: 25vh;
    padding-bottom: 10vh;
    /* margin: 0; */
    /* gap: 20px; */
    /* border-radius: 60vh; */

}
.container .tag{
    grid-column: span 6;
    grid-row: span 1;
    margin-top: 20vh;
    text-align: center;
    color: #ffff;
}
.container .box{
    margin: 2vh;
}
.container #headphone{
        grid-column: span 2;
        grid-row: span 2;
}
.container #mobile{
    grid-column: span 4;
    grid-row: span 1;
}
.container #global{
    grid-column: span 4;
    grid-row: span 1;
}
.container #exclusive{
    grid-column: span 4;
    grid-row: span 1;
}
.container #rich{
    grid-column: span 2;
    grid-row: span 1;
}

/* container end  */

.featured-section{
    background-color: #1A0B2E;
    padding: 80px;
    color: #ffff;
}
.featured-header{
    text-align: center;
    margin-bottom: 4vh;
}
.featured-header h1{
    font-size: 8vh;
}
.featured{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 30px;
}

.card{
    background-color: #351165;
    border-radius: 25px;
    overflow: hidden;
}

.video{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-content {
    padding: 25px;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.4;
}

.card-content p {
    font-size: 15px;
    color: #cbd5e1;
    line-height: 1.6;
    margin-bottom: 20px;
}

.card-footer {
    color: #50f750; 
    font-size: 14px;
    font-weight: bold;
}

/* .footer last section start */
.footer-last{
    background-color: #1A0B2E;
    
}
.footer-last .host{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffff;
    margin-bottom: 5vh;
    font-size: 4vh;
}
.meet{
background-color: #351165;
display: flex;
/* margin: 20vh; */
margin: 2vh 20vh 0 20vh;
padding: 3vh;
border-radius: 10vh;
align-items: center;
color: #ffff;
}

.meet .textarea{
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;

}

.meet .textarea .icons img{
    /* height: 20px; */
    /* width: 20px; */
    /* display: flex; */
    border: 2px solid  #412567;
    border-radius: 10px;
    height: 10%;
    width: 2%;
    padding: 5px;
}

/* footer last end  */

/* footer section start  */

.footer{
    min-height: 60vh;
    display: flex;
    background: url(../assets/footer-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: white;
    
    
}
.footer-social{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}
.footer-social a{
    text-decoration: none;
    color: #FAFAFA;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.footer-social a img{
    height: 4vh;
}
.footer .footer-copy{
    color: #FAFAFA;
}