*{
margin: 0;
padding: 0;
}
/* Headder section start  */
.header {
background-color: #0f0521;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 120px;
}


.header h2 {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    transition: 0.2s;
}
#wave{
    background: linear-gradient(to right, #f04343, #c55286, #7826c5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
nav #sub a{
text-decoration: none;
    color: #ececec;

}


nav #sub{
    background: linear-gradient(to right,#f0c843, #c55286, #7826c5); 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 50px;
    transition: 0.2s;
}

nav li{
list-style: none;
display: inline;
margin: 20px;
font-size: 15px;
}
nav ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
    
/* headder end  */

/* main start */

.main{
    min-height: 100vh;
    display: flex;
    background: url(../assets/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: white;
    
    
}
.mic img{
    height: 25vh;
    margin-top: 1vh;
    align-items: center;
    /* display: flex; */
    /* text-align: center; */
}
.mic{
     background: linear-gradient(to  right, #f0d749, #c55286,#e958d1 ,#7826c5);
     height: 40vh;
     width: 50vh;
     text-align: center;
     /* display: flex; */
     /* align-items: center; */
     padding-top: 9vh;
     margin-bottom: 3vh;
     border-radius: 100vh;
     border: 5px solid t rgb(120, 38, 252);
}
.main h1{
    
    font-size: 10vh;
    margin: 0;
     /* margin-bottom: 40vh; */
}
.main p{
    font-size: 2.7vh;
    color: #d8e0e9;
    margin-top: 2vh;
    max-width: 550px;
}

.button-main a{
    text-decoration: none;
    color: white;
}
.button-main{
    margin: 20px;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.button-main #Sportify-main{
     background: linear-gradient(to right,#f0c843, #c55286, #7826c5);
       padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 100vh;

}
.button-main #Sportify-main img{
margin-top: 0px;
height: 12px;
margin-right: 5px;
}
.button-main #sub-main{
     background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 100vh;
    border: 1px solid #00ff88 ;

}


.button-main #sub-main img{

    height: 10px;
    margin-right: 5px;
}