*{
margin: 0;
padding: 0;
}
/* Headder section start  */
.header {
background-color: #0f0521;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 120px;
}


.header h2 {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    transition: 0.2s;
}
#wave{
    background: linear-gradient(to right, #f04343, #c55286, #7826c5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
nav #sub a{
text-decoration: none;
    color: #ececec;

}


nav #sub{
    background: linear-gradient(to right,#f0c843, #c55286, #7826c5); 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 50px;
    transition: 0.2s;
}

nav li{
list-style: none;
display: inline;
margin: 20px;
font-size: 15px;
}
nav ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
    
/* headder end  */